*{
	margin: 0;
}

div {
	border:1px solid red;
}

#logo{
	height: 150px; 
	background-color: #2a7188; 
}

#logo>img{
	margin: auto;
}

#bl-menu{
	background-color: #0d77af;
}

#bl-menu h2{
	color:white;
}

#bl-menu p{
	color:white;
}

#bl-menu div{
	height: 50px;
	float: left;
}

#block2>#bl2-cont1{
 	background-color: #d7d5d6;
}

#block2 input{
 	width: 100%;
}


.slider{
	height: 400px;
}

#svyaz{
	background-color: #07597b;
}

#director{
	height: 300px;
}

#director h5{
	margin-left: 10%;
	margin-top: -2%;
}

#svyaz>div{
	height: 100px;
	background-color: #04364b;
	margin-top: 5%;
}

#svyaz>div>h4{
	color:white;
	text-align: center;
}

#info{
	height: 550px;
	background-color: #04364b;
}

#info h5{
	color: white;
	text-align: center;
}

#WhiteCube{
	height: 250px;
	background-color: white; 
}

#news{
	background-color: #e3e5e6; 
}

#banners{
	background-color: #04364b;
}

#footer{
	height: 150px;
	background-color: #07597b;
}